  div{
        border: 5px solid black;
        padding: 10px;
        margin: 10px;
        background-color: burlywood;
    }

    body{
        background-color: #D6D46D;
    }
h1{
    color: brown;
}
.main{
    background-color: #F4DFB6;
}
.secondary{
    background-color: #DE8F5F;
}
.third{
    background-color: #9A4444;
}

.main2{
    background-color: #B6FFFA;
}

.secondary2{
    background-color: #98E4FF;
}

.third2{
    background-color: #80B3FF;
}

.body2{
    background-color: #687EFF;
}

.body3{
    background-color: #363062;
}

.main3{
    background-color: #4D4C7D;
}
.secondary3{
    background-color: #F99417;
}

.third3{
    background-color: #F5F5F5;
}